<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>

<h2>Book Instance</h2>

<table>
    <tr>
        <th>ID</th>
        <th>due_book_date</th>
        <th>status</th>
        <th>book</th>
        <th>person</th>
    </tr>
    <tr>
        <td>{{ object.id }}</td>
        <td>{{ object.due_book_date }}</td>
        <td>{{ object.status }}</td>
        <td>{{ object.book }}</td>
        <td>{{ object.person }}</td>
    </tr>
</table>

</body>
</html>
