<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>

<h2>Genre</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Genre</th>
    </tr>
        <tr>
            <td>{{ object.id }}</td>
            <td>{{ object.genre }}</td>
        </tr>
</table>

</body>
</html>
