<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>

<h2>Languages</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Languages</th>
    </tr>
    {% for item in object_list %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.language }}</td>
        </tr>
    {% endfor %}

</table>

</body>
</html>
